
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{ NoticiaVideojuego.noticia }}</h2>
                <p class="card-text">{{ contenido }}</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://vandal.elespanol.com/noticia/1350767944/el-momento-mas-triste-de-red-dead-redemption-2-no-esta-en-la-historia-principal/">Ver más</a></div>
        </div>
    </div>