{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Card Ejemplo</title>
  <style>
    /* Estilos CSS para la card */
    .card {
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      margin: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .card img {
      width: 100%;
      border-radius: 8px;
    }

    .card h2 {
      margin-top: 0;
    }

    .card p {
      font-size: 14px;
    }
  </style>
</head>
<body>

<div class="card">
  <h2>{{ noticia.titulo}}</h2>
  <p>{{ noticia.descripcion}}</p>
  <p>{{ noticia.fecha}}</p>

</div>

<!-- Puedes repetir esta estructura para mostrar múltiples cards con los datos de tu base de datos -->

</body>
</html>